.logo-text {
  font-size: 20px !important;
  text-align: left;
}

.icontext {
  font-size: 10px;
}

.ruler {
  width: 100px;
  height: 100px;
}

.ml-auto .dropdown-menu {
  left: auto !important;
  right: 0px;
  color: #fff !important;
}

.color-me {
  color:#fff;
}

.rubrik {
  text-align: center;
}

.navbar{
  text-align: center;
  padding-top: 10px;
  color: #fff;
  font-size: 25px;
  font-family: helvetica;
  font-weight: lighter;
}

.navbar-tab :visited {
  color: #fff;
}

.pris-text {
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
  font-family: helvetica;
  font-weight: lighter;
}

.pris-rubrik {
  margin-top: 35px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 35px;
  font-family: helvetica;
  font-weight: lighter;
  
}

.priser {
  font-size: 30px;
  text-align: center;
  border: 2px solid #000;
  border-radius: 5px;
}

.priser-text {
  font-size: 20px;
  text-align: center;
}

.kontakt-rubrik {
  margin-top: 25px;
  font-size: 30px;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
}

.kontakt-brod {
  font-size: 20px;
  font-family: Helvetica;
  font-weight: lighter;
  text-align: center;
}


html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }